[submodule "esp_term/http-parser"]
	path = esp_term/http-parser/http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "esp_term/esp-server/http-parser/http-parser"]
	path = esp_term/esp-server/http-parser/http-parser
	url = https://github.com/nodejs/http-parser.git
